{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<h1>Bienvenue sur l'application de gestion de l'association Alhambra</h1>

{% if app.user %}
    <ul>
        {% if is_granted('ROLE_ADMIN') %}
            <li><a href="{{ path('utilisateur_index') }}">Gestion des Utilisateurs</a></li>
            <li><a href="{{ path('commission_index') }}">Gestion des Commissions</a></li>
            <li><a href="{{ path('post_index') }}">Gestion des Posts</a></li>
            <li><a href="{{ path('privilege_index') }}">Gestion des Privilèges</a></li>
        {% endif %}
        <li><a href="{{ path('chat_index') }}">Accès au chat</a></li>
    </ul>
    <a href="{{ path('_logout_main') }}">Déconnexion</a>
{% else %}
    <a href="{{ path('login') }}">Se connecter</a>
    <p>Pas encore de compte ? <a href="{{ path('register') }}">S'inscrire</a></p>
{% endif %}
{% endblock %}
