<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Accueil{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
</head>
<body>
    {% block body %}
    <h1>Bienvenue sur l'application de gestion de l'association Alhambra</h1>

<ul>
    <li><a href="{{ path('utilisateur_index') }}">Gestion des Utilisateurs</a></li>
    <li><a href="{{ path('commission_index') }}">Gestion des Commissions</a></li>
    <li><a href="{{ path('post_index') }}">Gestion des Posts</a></li>
    <li><a href="{{ path('privilege_index') }}">Gestion des Privilèges</a></li>
    <li><a href="{{ path('chat_index') }}">Accès au chat</a></li>
</ul>
    {% endblock %}
</body>
</html>
