{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Edit User</h1>
    
    <form method="POST" action="{{ path('utilisateur_edit', { 'id': utilisateur.id }) }}">
        <!-- Nom -->
        <div>
            <label for="nom">Nom:</label>
            <input type="text" id="nom" name="nom" value="{{ utilisateur.nom }}" />
        </div>

        <!-- Prénom -->
        <div>
            <label for="prenom">Prénom:</label>
            <input type="text" id="prenom" name="prenom" value="{{ utilisateur.prenom }}" />
        </div>

        <!-- Email -->
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="{{ utilisateur.email }}" />
        </div>

        <!-- Mot de passe -->
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" />
        </div>
        
        <!-- Permission temporaire -->
        <div>
            <label for="temporary_permission_expiry">Temporary Permission to Create Commission (Optional):</label>
            <input type="datetime-local" id="temporary_permission_expiry" name="temporary_permission_expiry" 
                value="{{ utilisateur.temporaryPermissionExpiry ? utilisateur.temporaryPermissionExpiry|date('Y-m-d\TH:i') : '' }}" />
            <small>Set a date to expire the permission.</small>
        </div>

        <!-- Rôle -->
        <div>
            <label for="role">Role:</label>
            <select id="role" name="role">
                <option value="1" {% if utilisateur.role == 1 %}selected{% endif %}>User</option>
                <option value="2" {% if utilisateur.role == 2 %}selected{% endif %}>Admin</option>
                <option value="3" {% if utilisateur.role == 2 %}selected{% endif %}>AdminTemp</option>
            </select>
        </div>

        <button type="submit" class="btn-primary">Update User</button>
    </form>

    <br>
    <a href="{{ path('utilisateur_show_one', { 'id': utilisateur.id }) }}">Back to user details</a>
{% endblock %}
