{# templates/utilisateur/edit.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Edit User: {{ utilisateur.nom }} {{ utilisateur.prenom }}</h1>

    <form action="{{ path('utilisateur_edit', { 'id': utilisateur.id }) }}" method="post">
        <!-- Champ pour modifier le nom -->
        <div>
            <label for="nom">Nom:</label>
            <input type="text" id="nom" name="nom" value="{{ utilisateur.nom }}" required />
        </div>

                        <!-- Bouton Delete -->
                        <button  data-id="{{ utilisateur.id }}" onclick="deleteUser({{ utilisateur.id }})" class="delete-btn">
                            Delete
                        </button>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">No users found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

        <!-- Champ pour modifier l'email -->
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="{{ utilisateur.email }}" required />
        </div>

        <!-- Champ pour modifier le mot de passe -->
        <div>
            <label for="password">Password (leave empty to keep the current one):</label>
            <input type="password" id="password" name="password" />
        </div>

        <!-- Champ pour modifier le rôle -->
        <div>
            <label for="role">Role:</label>
            <select id="role" name="role" required>
                <option value="1" {% if utilisateur.role == 1 %}selected{% endif %}>User</option>
                <option value="2" {% if utilisateur.role == 2 %}selected{% endif %}>Admin</option>
            </select>
        </div>

        <button type="submit">Update User</button>
    </form>

    <a href="{{ path('utilisateur_index') }}">
        <button>Back to User List</button>
    </a>
{% endblock %}
