{# templates/privilege/edit.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Modifier le Privilège{% endblock %}

{% block body %}
<h1>Modifier le Privilège</h1>

{{ form_start(form) }}
    {{ form_row(form.type) }}
    {{ form_row(form.utilisateur) }}
    {{ form_row(form.commission) }}
    {{ form_row(form.save) }}
{{ form_end(form) }}

<a href="{{ path('privilege_index') }}">Retour à la liste</a>
{% endblock %}
