{# templates/privilege/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Liste des Privilèges{% endblock %}

{% block body %}
<h1>Liste des Privilèges</h1>
<ul>
    {% for privilege in privileges %}
        <li>
            {{ privilege.type }} - Utilisateur : {{ privilege.utilisateur.nom }} {{ privilege.utilisateur.prenom }}
            <a href="{{ path('privilege_show', {id: privilege.id}) }}">Voir</a>
        </li>
    {% endfor %}
</ul>
<a href="{{ path('privilege_create') }}">Créer un nouveau privilège</a>
{% endblock %}
